

.card img {
  background-color: none !important;
}

.card:hover {
  border: 3px solid black;
  transform: scale(1.15);
  transition: 1s;
  z-index: 1000;
}

.cursor-pointer {
  cursor: pointer;
}

.agent-image {
  height: 600px !important;
}

.background {
  background-color: darkgreen;
}

.card {
  background-color: darkolivegreen;
}

.agent-image {
  background-color: grey;
}